.slds-container_small {
    padding: 1rem;
}

.slds-m-right_small {
    margin-right: 0.5rem;
}

.slds-col_bump-left {
    margin-left: 0.5rem;
}

.slds-m-top_medium {
    margin-top: 1rem;
}

.list-item {
  font-size: 16px; /* Adjust the font size value as needed */
}

.image-size{
  width: 25px;
  height: 25px;
}

.upload-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .upload-popup-container {
    width: 70%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
  }
  
  .upload-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .upload-popup-content {
    display: flex;
    justify-content: space-between;
  }
  
  .cloud-storage-selection,
  .connect-button {
    width: 30%;
  }
  
  .cloud-storage-selection ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cloud-storage-selection li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .cloud-storage-icon {
    margin-right: 10px;
  }
  
  .close-icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .close-icon {
    width: 20px;
    height: 20px;
  }
  
  
  
  .lgc-bg {
    background-color: rgb(242 242 242);
}

.lgc-bg-inverse {
    background-color: rgb(22 50 92);
}